ul {
   margin-top: 20px;
   padding: 0px;
   list-style-type: none;
   text-align: left;
 }

li {
   padding-bottom: 5px;
 }

.com {
  width: 400px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 4px;
  font-family: monospace;
}

.logout {
  float: right;
}

a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 12px;
  font-family: monospace;
}
